<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/public/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/public/css/styles.css" />

		<title>Image Verification System</title>
	</head>
	<body>
		<div class="container">
			<h1>Time To Take Your Picture</h1>

			<a href="/take-photo" class="btn btn-primary">TAKE A PICTURE</a>

			<a href="/view-list" class="btn btn-outline-primary">View Logged In Students</a>

		</div>

		<script src="/public/js/bootstrap.min.js"></script>
	</body>
</html>
